<!-- groupleader select page -->

{% extends "layout.html" %}

{% block title %}Select{% endblock %}

{% block content %}

    <div class="center-box">
        <div class="select-box">
        {% if group == "admin" or user.is_superuser %}
        <h2> Erstellen <h2>
        <button class="redirect-button" onclick="window.location.href='{% url 'database:create_accounts' %}'">Account erstellen</button>
        <button class="redirect-button" onclick="window.location.href='{% url 'database:create_person' %}'">Person erstellen</button>
        <button class="redirect-button" onclick="window.location.href='{% url 'database:create_facility_group' %}'">Gruppen und Standorte erstellen</button>
        <button class="redirect-button" onclick="window.location.href='{% url 'database:upload_menu' %}'">Essensplan hochladen</button>
        <button class="redirect-button" onclick="window.location.href='{% url 'database:init_export_order' %}'">Bestellung exportieren</button>

        <h2> Verwalten <h2>
        <button class="redirect-button" onclick="window.location.href='{% url 'database:person_group_management' %}'">Personen Gruppen zuweisen</button>
        <button class="redirect-button" onclick="window.location.href='{% url 'database:assign_account_to_person' %}'">User Accounts zuweisen</button>
        <button class="redirect-button" onclick="window.location.href='{% url 'database:setsubstitute' %}'">Gruppenleiter zuweisen</button>
        
        <h2>Anzeigen und Eintragen</h2>
        <button class="redirect-button" onclick="window.location.href='{% url 'database:database_list' %}'">Bestellung</button>
        <button class="redirect-button" onclick="window.location.href='{% url 'database:qr_code_scanner' %}'">QR-Code Scanner</button>
        <button class="redirect-button" onclick="window.location.href='{% url 'database:export_qr_code' %}'">QR-Code exportieren</button>

        {% elif group == "management" %}
        <button class="redirect-button" onclick="window.location.href='{% url 'database:database_list' %}'">Standortleiter Übersicht</button>
        <button class="redirect-button" onclick="window.location.href='{% url 'database:database_list' %}'">Bestellung Übersicht</button>

        {% elif group == "facility_manager" %}
        <button class="redirect-button" onclick="window.location.href='{% url 'database:database_list' %}'">Bestellung</button>
        <button class="redirect-button" onclick="window.location.href='{% url 'database:database_list' %}'">Gruppenleiter zuweisen</button>
        <button class="redirect-button" onclick="window.location.href='{% url 'database:database_list' %}'">Vertretung zuweisen</button>

        {% elif "groupleader" in group and "kitchen_staff" in group %}
        <button class="redirect-button" onclick="window.location.href='{% url 'database:database_list' %}'">Bestellung</button>
        <button class="redirect-button" onclick="window.location.href='{% url 'database:qr_code_scanner' %}'">QR-Code Scanner</button>
        <button class="redirect-button" onclick="window.location.href='{% url 'database:daily_order' %}'">Tagesbestellung</button>
        <button class="redirect-button" onclick="window.location.href='{% url 'database:database_list' %}'">Vertretung zuweisen</button>

        {% elif group == "groupleader" %}
        <button class="redirect-button" onclick="window.location.href='{% url 'database:database_list' %}'">Bestellung</button>

        {% elif group == "kitchen_staff" %}
        <button class="redirect-button" onclick="window.location.href='{% url 'database:database_list' %}'">QR-Code Scanner</button>
        
        {% else  %}
        <p>Gruppe nicht gefunden</p>
        {% endif %}
        </div>
    </div>

{% endblock %}