<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/dark-mode.js' %}"></script>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body id="body" class="dark-mode"> <!-- Set dark mode as default -->

    <div class="top-bar">
        <div class="breadcrumb">
            <a href="/" class="breadcrumb-item">Home</a>
            <a href="/" class="breadcrumb-item">Category</a>
            <a href="/" class="breadcrumb-item">Subcategory</a>
            <a href="/" class="breadcrumb-item">Product</a>
            {% block breadcrumb %}
            {% endblock %}
        </div>
        <div class="top-right">
            <label class="settings-container">
                <button id="dark-mode-toggle" class="dark-mode-toggle-button"> <!-- Set toggle to unchecked initially --> 
                <img src="{% static 'images/sun-icon.png' %}" alt="Toggle Dark Mode" class="toggle-icon-button" aria-label="Toggle Dark Mode"
                data-sun-icon="{% static 'images/sun-icon.png' %}"
                data-moon-icon="{% static 'images/moon-icon.png' %}">
                </button>
            </label>

            <form method="post" action="{% url 'users:logout' %}">
                {% csrf_token %}
                <button type="submit" class="logout-button" title="Logout">
                    <img src="{% static 'images/logout-icon.png' %}" alt="Logout" aria-label="Logout">
                </button>
            </form>
        </div>

    </div>



    {% block content %}
    {% endblock %}




</body>
{% block scripts %}
{% endblock %}
</html>

