<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <!-- <link rel="stylesheet" href="{% static 'css/login.css' %}"> -->  <!-- uncomment if you have a css file -->
    <!-- <script src="{% static 'js/login.js' %}"></script> -->
    {% block link %}
    {% endblock %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
        {% endblock %}
    </title>

</head>
<body id="body" class="dark-mode">
    <div class="breadcrumb">
        {% block breadcrumb %}
        {% endblock %}
    </div>


    {% block content %}
    {% endblock %}

    <label class="switch">
        <input type="checkbox" id="dark-mode-toggle">
        <span class="slider"></span>
    </label>

</body>
</html>