{% extends 'layout.html' %}



{% block content %}
<div class="form-container">
    <div class="form-box">
        <h2>Create Group</h2>
        <form action="{% url 'database:person_group_management' %}" method="post">
        {% csrf_token %}
        <label for="group_name">Gruppennummer:</label>
        <input type="text" id="group_name" name="group_name" class="input-field" required>
        <label for="group_task">Aufgabe: </label>
        <input type="text" id="group_task" name="ggroup_task" class="input-field" required>
        <label for="faclility_id">Standort</label>
        <select name="facility_id" id="facility_id" class="input-field" required>
            <option value="" disabled selected>Select Facility</option>
            {% for facility in facilities %}
                <option value="{{ facility.id }}">{{ facility.facility_name }}</option>
            {% endfor %}
        </select>
        <button type="submit" class="submit-button">Create Group</button>
        {% if error and error.form_type == 'create_group' %}
            <p style="color: red;">{{ error.message }}</p>
        {% endif %}
        </form>
    </div>
    <div class="form-box">
        <h2>Create Facility</h2>
        <form action="{% url 'database:person_group_management' %}" method="post">
        {% csrf_token %}
        <label for="facility_name">Standortname:</label>
        <input type="text" id="facility_name" name="facility_name" class="input-field" required>
        <label for="facility_location">Adresse (optional)</label>
        <input type="text" id="facility_location" name="facility_location" class="input-field">
        <button type="submit" class="submit-button">Create Facility</button>
        {% if error and error.form_type == 'create_group' %}
            <p style="color: red;">{{ error.message }}</p>
        {% endif %}
        </form>
    </div>
</div>


<style>
    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        padding: 20px;
        gap: 5%;
    }
    
    .form-box {
        background-color: #2c2c2c;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    h2 {
        margin-top: 10px;
        color: #ffffff;
        font-size: x-large;
        font-weight: bold;
        text-align: center;
        padding-bottom: 10px;
    }
    
    label {
        margin: 5px 0;
        color: #ffffff;
        display: block;
    }
    
    .input-field {
        width: 100%;
        padding: 10px;
        margin: 5px 0;
        border: 2px solid #007bff;
        border-radius: 5px;
        box-sizing: border-box;
        transition: border-color 0.3s;
    }
    
    .input-field:focus {
        border-color: #0056b3;
        outline: none;
    }

    .submit-button {
        width: 100%;
        padding: 10px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s;
        margin-top: 15px;
    }
    
    .submit-button:hover {
        background-color: #0056b3;
    }

    .input-field select {
        color: black;
    }
</style>
{% endblock %}