{% extends 'layout.html' %}

{% block title %}Database List{% endblock %}

{% block content %}
<br>
<br>
<br>
<br>

<div class="database-list-table">
    <table>
        <thead>
            <tr>
                <th>Name</th> 
            </tr>
        </thead>
        <tbody>
            {% for person in person %}
            <tr>
                <div class="database-list-container">
                    <th>{{ person.last_name }}</th>
                </div>
            </tr> 
            {% endfor %}
        </tbody>  
    </table>
</div>
   
{% endblock %}  


