{% extends 'layout.html' %}

{% block title %}Database List{% endblock %}

{% block content %}
<br>
<br>
<br>
<br>

<div class="database-list-table">
    <form id="search-form" method="get" action="{% url 'database:database_list' %}">
        <input type="text" id="search-input" name="q" placeholder="Search..." value="{{ request.GET.q }}">
        <button type="submit">Search</button>
    </form>

    <table >
        <thead>
            <tr>
                <th>Name</th> 
                <th>Vorname</th>
            </tr>
        </thead>
        <tbody id="resultContainer">
            {% include 'person_list.html' %}
        </tbody>  
    </table>
</div>
<br>
<br>

{% endblock %}  

{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const searchInput = document.getElementById('search-input');
        const searchForm = document.getElementById('resultContainer');
    
        searchInput.addEventListener('input', function() {
            const query = searchInput.value;
    
            // Send an AJAX request
            fetch(`/database/fetch-persons/?q=${query}`, {
                method: 'GET',
                headers: {
                    'X-Requested-With': 'XMLHttpRequest',
                },
            })
            .then(response => response.text())
            .then(data => {
                // Update the result container with the new data
                searchForm.innerHTML = data;
            })
            .catch(error => console.error('Error:', error));
        });
    });
    </script>
{% endblock %}
