{% extends "layout.html" %}

{% block title %}Import CSV{% endblock %}
{% block content %}
<div class="form-box">
<h2>CSV importieren</h2>
<br>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group" >
        <label for="csv_file">Wähle das CSV-File:</label>
        <input class="input-field" type="file" name="csv_file" id="csv_file" accept=".csv" required>
    </div>
    <button class="login-submit-button"  type="submit" class="btn btn-primary">CSV hochladen</button>
</form>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
</div>
{% endif %}

{% endblock %}

{% block scripts %}
<style>

</style>



{% endblock %}