{% extends 'layout.html' %}

{% block title %}QR Code Scanner{% endblock %}



{% block content %}
<div class="container">
    <div class="video-container">
        <video id="video" width="640" height="480" autoplay playsinline></video>
        <canvas id="canvas" width="640" height="480" style="display:none;"></canvas>
        <div id="message" class="message-box">OK</div>
    </div>
    <div id="qr-result" class="qr-result" style="display:none;"></div>
</div>
 
{% endblock %}

{% block scripts %}
<style>
   
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 75px;
    }
    .video-container {
        position: relative;
        display: block;
        justify-content: center;
        align-items: center;
        /* width: 100%; */
    }
    video {
        border: 2px solid #000;
    }
    .message-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: green;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        display: none;
        width: 200px;
        height: 100px;
        text-align: center;
        font-size: 20px;
        justify-content: center;
        align-items: center;
    }
    .message-box.error {
        background-color: red;
    }

    .qr-result {
        margin-top: 20px;
        text-align: center;
    }

 

</style>
<script src="https://cdn.jsdelivr.net/npm/jsqr@1.4.0/dist/jsQR.js"></script>

<script>
  (async function() {
    const video = document.getElementById('video');
    const canvas = document.getElementById('canvas');
    const message = document.getElementById('message');
    const qrResult = document.getElementById('qr-result');
    const context = canvas.getContext('2d');
    let clearTimeoutId;
    let noQRTimeoutId;

    try {
        const stream = await navigator.mediaDevices.getUserMedia({ video: {facingMode: 'environment'} });
        video.srcObject = stream;
    } catch (err) {
        console.error("Error accessing camera: ", err);
        alert("Unable to access the camera. Please check your device settings.");
    }

    function sendQRData(qrData) {
        fetch('{% url "database:decode_qr" %}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({ qr_data: qrData })
        })
        .then(response => response.text())
        .then(data => {
            qrResult.innerHTML = data;
            qrResult.style.display = 'block';
            message.style.display = 'flex';
            if (data.includes('qr-error')) {
                message.textContent = 'Invalid or no QR data detected';
                message.classList.add('error');
            } else {
                message.classList.remove('error');
                message.textContent = 'OK';

                if (clearTimeoutId) {
                    clearTimeout(clearTimeoutId);
                 }
                 if (noQRTimeoutId) {
                     clearTimeout(noQRTimeoutId);
                 }
     
                clearTimeoutId = setTimeout(() => {
                    qrResult.innerHTML = '';
                    message.style.display = 'none';
                }, 30000);
            }
        })
        .catch(error => console.error('Error:', error));
    }

    function tick() {
        if (video.readyState === video.HAVE_ENOUGH_DATA) {
            canvas.height = video.videoHeight;
            canvas.width = video.videoWidth;
            context.drawImage(video, 0, 0, canvas.width, canvas.height);
            const imageData = context.getImageData(0, 0, canvas.width, canvas.height);
            const code = jsQR(imageData.data, imageData.width, imageData.height, {
                inversionAttempts: "dontInvert",
            });
            if (code) {
                sendQRData(code.data);
                console.log('QR Code Data:', code.data);
                // Video stream still continues even after QR code is detected

                if (noQRTimeoutId) {
                    clearTimeout(noQRTimeoutId);
                }

                noQRTimeoutId = setTimeout(() => {
                    qrResult.innerHTML = '';
                    message.style.display = 'none';
                }, 2000); 
            }
        }
        requestAnimationFrame(tick);
    }
    requestAnimationFrame(tick);
})();
</script>
{% endblock %}